@import "../base/_colors";

//모든 부트스트렙 버튼에 속성 적용
.btn {
  background-color: white;
  border-color: #DBDBDB;
  color: $text-color;
  font-weight: bold;
  font-size: 0.9rem;

  .img-color {
    width: 2.3rem;
    height: 2.3rem;
    filter: invert(26%) sepia(36%) saturate(2827%) hue-rotate(324deg) brightness(101%) contrast(93%);
  }

  &:hover {
    background-color: $main-color;
    border-color: $main-color;
    color: white;
    .img-color {
      filter: invert(99%) sepia(3%) saturate(910%) hue-rotate(227deg) brightness(119%) contrast(100%);
    }
  }

  &:focus {
    border-color: $main-color;
    box-shadow: 5px 5px $shadow-color;
  }

  &:active {
    background-color: $main-color;
    border-color: $main-color;
    box-shadow: 5px 5px $shadow-color;
  }
}

button:focus {
  outline: none;
}

.btn-group {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.list-group {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn-font-size {
  font-size: 0.9rem;
  font-weight: bold;
}

#t-p-c-container {
  .active {
    border-color: $line-color !important;
    background-color: $main-color;
  }
}
