@import "../base/size";
@import "../base/_colors";

#my-words-label {
    border-top: 2px solid $main-color;
    color: $main-color; 
    font-size: $nav-font-size;
    text-align: center;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 3rem;
    line-height: 3rem;
    background-color: white;
    font-size: $nav-font-size;
    font-weight: bold;
}