@media print {
  .a4 {
    page-break-after: always;
  }

  .table td {
    background-color: transparent !important;
  }
}

@page {
  margin-top: 30mm;
}

@page:first {
  margin-top: 20mm;
}

.repeatTable {
  position: relative;
}

.backgroundImg {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
