.nav {
  background-color: #c03444;
  -webkit-box-shadow: 0px 1px #c03444;
  box-shadow: 0px 1px #c03444;
  font-weight: bold; }

a {
  color: #f88585; }
  a:hover {
    color: #f88585;
    text-decoration: underline; }
  a:active {
    color: white; }
  a:focus {
    color: white; }

.table {
  word-wrap: break-word; }

.indexWidth {
  width: 10%;
  text-align: center; }

.vocaWidth {
  text-align: center; }

@media print {
  @page {
    size: a4;
    margin-top: 20mm; }
  .table td {
    background-color: transparent !important; } }

.btn {
  background-color: white;
  border-color: #DBDBDB;
  color: #c03546; }
  .btn:hover {
    background-color: #c03444;
    border-color: #c03444;
    color: white; }
  .btn:focus {
    border-color: #c03444;
    -webkit-box-shadow: 5px 5px #f88585;
    box-shadow: 5px 5px #f88585; }
  .btn:active {
    background-color: #c03444;
    border-color: #c03444;
    -webkit-box-shadow: 5px 5px #f88585;
    box-shadow: 5px 5px #f88585; }

.textfield {
  border-color: #c03444;
  text-align: center;
  height: 31rem;
  max-height: 31rem;
  border: 4px solid #c03444;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important; }
  .textfield:focus {
    border-color: #c03444;
    -webkit-box-shadow: 7px 7px #c03444;
    box-shadow: 7px 7px #c03444; }

input[type="checkbox"]:checked + label:before {
  background-color: #c03444 !important; }

#preview {
  max-height: 31rem;
  overflow: auto;
  border: 4px solid #c03444;
  border-radius: 5px; }

.card:hover {
  background-color: #f0f0f0; }

.card:active {
  background-color: white;
  border-color: #c03444; }

html {
  font-size: 16px; }

#preview-label {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.555);
  top: 0px;
  display: inline;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px; }
